body {
  font: 14px "Century Gothic", Futura, sans-serif;
}
.content{
  margin: 20px;
}
.header {
  overflow: hidden;
  background-color: #f57c07;
  color: #bbbbbb;
  padding: 20px 10px;
  margin-bottom:20px;
}
.header h1{
  color: #ffffff;
  text-align: center;    
}
.carbox{
    border-radius:12px;
    border: 1px solid #bbb;
}
.menu{
    background-color:#ccc;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
